[submodule "arch/thirdparty/chipyard"]
	path = arch/thirdparty/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "buddy-mlir"]
	path = compiler/thirdparty/buddy-mlir
	url = https://github.com/DangoSys/bb-compiler.git
[submodule "bbdev"]
	path = bbdev
	url = https://github.com/DangoSys/bbdev.git
[submodule "docs"]
	path = docs
	url = https://github.com/DangoSys/documents.git
[submodule "thirdparty/waveform-mcp"]
	path = thirdparty/waveform-mcp
	url = https://github.com/jiegec/waveform-mcp.git
[submodule "bebop"]
	path = bebop
	url = https://github.com/DangoSys/bebop
	branch = next
[submodule "bb-tests/workloads/lib/kernel"]
	path = bb-tests/workloads/lib/kernel
	url = https://github.com/DangoSys/bbkernel.git
[submodule "bb-tests/thirdparty/busybox"]
	path = bb-tests/thirdparty/busybox
	url = https://github.com/mirror/busybox.git
[submodule "bb-tests/thirdparty/linux"]
	path = bb-tests/thirdparty/linux
	url = https://github.com/firesim/linux.git
[submodule "thirdparty/bluefolk"]
	path = thirdparty/bluefolk
	url = https://github.com/DangoSys/bluefolk.git
[submodule "bb-tests/thirdparty/opensbi"]
	path = bb-tests/thirdparty/opensbi
	url = https://github.com/riscv-software-src/opensbi.git
	branch = master
[submodule "bb-tests/workloads/src/ModelTest/e2e"]
	path = bb-tests/workloads/src/ModelTest/e2e
	url = https://github.com/buddy-compiler/buddy-examples.git
[submodule "gem5"]
	path = gem5
	url = https://github.com/C0smicLu0/gem5-demo.git
[submodule "io_sim/gem5"]
	path = io_sim/gem5
	url = https://github.com/XinlaiWan/gem5
