[submodule "arch/thirdparty/chipyard"]
	path = arch/thirdparty/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "buddy-mlir"]
	path = compiler/thirdparty/buddy-mlir
	url = https://github.com/DangoSys/bb-compiler.git
[submodule "bbdev"]
	path = bbdev
	url = https://github.com/DangoSys/bbdev.git
[submodule "docs"]
	path = docs
	url = https://github.com/DangoSys/documents.git
[submodule "thirdparty/waveform-mcp"]
	path = thirdparty/waveform-mcp
	url = https://github.com/jiegec/waveform-mcp.git
[submodule "bebop"]
	path = bebop
	url = https://github.com/DangoSys/bebop
	branch = next
[submodule "thirdparty/pegasus"]
	path = thirdparty/pegasus
	url = https://github.com/DangoSys/pegasus.git
[submodule "bb-tests/workloads/lib/kernel"]
	path = bb-tests/workloads/lib/kernel
	url = https://github.com/DangoSys/bbkernel.git
[submodule "bb-tests/thirdparty/busybox"]
	path = bb-tests/thirdparty/busybox
	url = https://github.com/mirror/busybox.git
[submodule "bb-tests/thirdparty/linux"]
	path = bb-tests/thirdparty/linux
	url = https://github.com/firesim/linux.git
